<div class="row">
  <div class="col-sm-9">
    <h1>Edit Blog</h1>
  </div>
  <div class="col-sm-3">
    <%= link_to 'Home', welcome_index_path, class: 'Ghome'%>
    <%= link_to 'Login', new_user_path, class: 'Glogin'%>
  </div>
</div>

<%= form_for(@article) do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', articles_path, class:'Gback' %>
